<ion-view view-title="Regional Flora">
  <ion-content>
    <div class="blockimg-wrap">
      <img  ng-click="openModal(plant)" class="blockimg" ng-repeat="plant in plants.plants" src="http://herbarium.gov.hk/{{ plant.photo_urls[0] }}">
      <!-- <div ng-repeat="plant in plants.plants">{{ plant.common_name }}</div> -->
    </div>
    <script id="plant-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">{{ selected.common_name }}</h1>
        </ion-header-bar>
        <ion-content scroll="false">
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="photo in selected.photo_urls">
              <img class="sliderbox-image" src="http://herbarium.gov.hk/{{ photo }}">
            </ion-slide>
          </ion-slide-box>
          <div class="item">
            <ul>
              <li>Family Name: {{ selected.family_name}}</li>
              <li>Scientific Name: {{ selected.scientific_name}}</li>
              <li>Plant Type: {{ selected.plant_type}}</li>
              <li>Chinese Name: {{ selected.chinese_name}}</li>
              <li>Chinese Family Name: {{ selected.chinese_family_name}}</li>
            </ul>
          </div>


          <button ng-click="closeModal()" class="button button-full button-assertive">Back</button>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>