<ion-view view-title="Trail">
  <ion-content class="trail-cards">
  
    <div class="list card">

      <div class="trail-imagebox">
        <img class="trail-image" src="http://www.oasistrek.com/{{ trail.photo_urls[0] }}">
        <img class="trail-image" src="http://www.oasistrek.com/{{ trail.photo_urls[1] }}">
        <img class="trail-image" src="http://www.oasistrek.com/{{ trail.photo_urls[2] }}">
      </div>

      <div class="item">
        <div class="row">
          <div class="info-region">{{ trail.district }}
          </div>
          <div class="link-coords">
            <a class="map-link" href="/#/tab/map">See Map <i class="icon ion-map"></i></a>
          </div>
        </div>
        <div class="row info-title">{{ trail.name }}</div>
        <ul ng-class="{'truncate-description' : !full}" class="description">
          <li class="desc-line" ng-repeat="description in trail.description">"{{ description }}"</li>
        </ul>
        <a ng-click="full=!full" ng-hide="full" class="description-show" href="">See full description</a>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">Difficulty
            <ul ng-bind-html="makeStars(trail.difficulty)"></ul>
          </div>
          <div class="col infoquants">
            Distance: 
            <span> 
              {{ trail.distance }} km 
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">Scenery
            <ul ng-bind-html="makeStars(trail.scenery)"></ul>
          </div>
          <div class="col infoquants">Duration: {{ trail.duration }} hrs</div>
        </div>
      </div>

      <div class="item">
        <h2>Weather:</h2>
        <div class="info-weather">{{ weatherInfo.tempMin}}-{{ weatherInfo.tempMax }} ˚C</div>
        <div class="info-weather">{{ weatherInfo.climate }}, {{ weatherInfo.description}}</div>
        <p class="info-weather-update">Updated {{weatherInfo.time}}</p>
      </div>

      <div class="item">
        <h2>Food Supply:</h2>
        <ul>
          <li ng-repeat="food in trail.food_supply">
            - {{ food }}
          </li>
        </ul>
      </div>

      <div class="item">
        <h2>Warnings:</h2>
        <ul>
          <li ng-repeat="warning in trail.warning">
            - {{ warning }}
          </li> 
        </ul>
      </div>

      <div class="item">
        <a ng-hide="noPlants" href="#/tab/info/{{trail.id}}/flora">
          <button class="item button button-full button-balanced">
            See Regional Flora:
          </button>
        </a>

        <a ng-hide="noBirds" href="#/tab/info/{{trail.id}}/fauna">
          <button class="item button button-full button-assertive">
            See Regional Fauna:
          </button>
        </a>
      </div>

      <div class="trail-imagebox">
        <img ng-repeat="photo in trail.photo_urls" class="trail-image" src="http://www.oasistrek.com/{{ photo }}">
      </div>

    </div>



  </ion-content>
</ion-view>