<ion-view view-title="Search">
  <ion-content scroll=false>
    <div>
    <!-- <button ng-click="hidden=!hidden" class="resultslink button button-full button-outline button-balanced">
      Hide Filter
    </button> -->

    <ion-list ng-hide="hidden">
      <div class="filter-list">
        <div class="filter-region">
          <!-- <i class="icon ion-map"></i>
          Select Region(s):  -->
          <div class="regionlist row">
            <ion-checkbox class="col col-30" ng-repeat="region in searchParameters.regions" ng-model="region.checked" ng-checked="region.checked">{{ region.text}}</ion-checkbox>
          </div>
        </div>
        <div class="range">
          <div class="">
            <div class="slider-title">Duration:</div>
            <div class="slider-quant">{{searchParameters.duration}} hours</div>
          </div>
          <input type="range" name="searchParameters.duration" min="0" max="10" value="searchParameters.duration" step="1" ng-model="searchParameters.duration">
          <i class="icon ion-ios-stopwatch-outline high"></i>
        </div>
        <div class="range">
          <div class="">
            <div class="slider-title">Distance:</div>
            <div class="slider-quant">{{searchParameters.distance}} km</div>
          </div>
          <input type="range" name="searchParameters.distance" min="0" max="24" value="searchParameters.distance" step="1" ng-model="searchParameters.distance">
          <i class="icon ion-android-walk high"></i>
        </div>
        
      </div>
    </ion-list>

    <div class="loading-background" ng-show="loading">
      <img class="load-image" src="http://www.mountainhighhikers.org/j282782.gif">
    </div>

    <div ng-show="!loading" class="list results-list">
      <div ng-if="noResults" class="no-results">No Trails Found, Please Try Again
      </div>
      <div ng-if="!noResults">
        <a ng-click="selectTrail()" ng-repeat="result in results.trails" class="item item-thumbnail-left" href="#/tab/info/{{result.id}}">
          <img src="http://www.oasistrek.com/{{result.photo_urls[0]}}">
          <h2>
            {{ result.name }}
            <p>{{ result.region.district }}</p>
          </h2>
          <!-- <p>{{ result.district }}</p> -->
          <div class="row">
            <div class="col-50 qualrating">Difficulty:
              <ul ng-bind-html="makeStars(result.difficulty)"></ul>
            </div>
            <div class="col-50 qualrating">Scenery:
              <ul ng-bind-html="makeStars(result.scenery)"></ul>
            </div>
          </div>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
