<ion-view view-title="Map" ng-if="showMap">
  <ion-content scroll="false" class="padding map-wrap" data-tap-disabled="true">
    <ui-gmap-google-map 
      center='map.center'
      zoom  ='map.zoom'
      draggable="true" 
      options="map.options">

      <ui-gmap-marker
          class="my-location"
          coords="myLocation.coords" 
          idkey="myLocation.id"
          icon="myLocation.icon">
      </ui-gmap-marker>

      <ui-gmap-markers
        models  = 'trailMarkers'
        coords  = "'self'"
        icon    = "'icon'"
        click  =  "'click'">
        <ui-gmap-windows 
          show="show">
          <div ng-non-bindable>
            <p>{{title}}</p>
            <a href="#/tab/filter" ng-click="mapTrailClick()">Info</a>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>

      <!-- <ui-gmap-marker 
          coords="selectedTrail.coords" 
          options="selectedTrail.options" 
          events="selectedTrail.events" 
          idkey="selectedTrail.id"
          icon="selectedTrail.icon">
      </ui-gmap-marker> -->
      <ui-gmap-polyline 
        ng-repeat="p in polylines" 
        path="p.path" 
        stroke="p.stroke" 
        visible='p.visible'
        geodesic='p.geodesic' 
        fit="false" 
        editable="p.editable" 
        draggable="p.draggable" 
        icons='p.icons'>
      </ui-gmap-polyline>

    </ui-gmap-google-map>

    <div>Restart</div>

    <div class="reset-button" ng-click="resetMap()"><i class="icon ion-home"></i></div>

    <button ng-click="openModal()">hihi</button>

    
  </ion-content>
</ion-view>
