<ion-view view-title="Map" ng-if="showMap">
  <ion-content scroll="false" data-tap-disabled="true" class="padding map-wrap">
    <ui-gmap-google-map 
      center='map.center'
      zoom  ='map.zoom'
      draggable="true" 
      options="map.options">

      <ui-gmap-marker
          class="my-location"
          coords="myLocation.coords" 
          idkey="myLocation.id"
          icon="myLocation.icon">
      </ui-gmap-marker>

      <ui-gmap-markers
        models  = 'trailMarkers'
        coords  = "'self'"
        icon    = "'icon'"
        click  =  "'click'">
        <ui-gmap-windows 
          show="show">
          <div ng-non-bindable class="map-trail-info">
            <div class="map-trail-title">{{title}}</div>
            <a href="#/tab/filter">Trail Info</a>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>

      <ui-gmap-polyline 
        ng-repeat="p in polylines" 
        path="p.path" 
        stroke="p.stroke" 
        visible='p.visible'
        geodesic='p.geodesic' 
        fit="false" 
        editable="p.editable" 
        draggable="p.draggable" 
        icons='p.icons'>
      </ui-gmap-polyline>

    </ui-gmap-google-map>

    <div>Back</div>

    <img src="https://cdn0.iconfinder.com/data/icons/app-tab-bar-icons-for-iphone/40/My_location.png">

    <button ng-click="openModal()">hihi</button>

  </ion-content>
</ion-view>
