<ion-view view-title="Map">
  <ion-content scroll="false" class="padding map-wrap">
    <ui-gmap-google-map 
      center='map.center'
      zoom  ='map.zoom'
      draggable="true" 
      options="map.options">

      <ui-gmap-marker
          class="my-location"
          coords="myLocation.coords" 
          idkey="myLocation.id"
          icon="myLocation.icon">
      </ui-gmap-marker>

      <ui-gmap-markers
        models  = 'trailMarkers'
        coords  = "'self'"
        icon    = "'icon'"
        click  =  "'click'">
        <ui-gmap-windows 
          show="show">
          <div ng-non-bindable>
            <h4>{{title}}</h4>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>

      <!-- <ui-gmap-marker 
          coords="selectedTrail.coords" 
          options="selectedTrail.options" 
          events="selectedTrail.events" 
          idkey="selectedTrail.id"
          icon="selectedTrail.icon">
      </ui-gmap-marker> -->
      <ui-gmap-polyline 
        ng-repeat="p in polylines" 
        path="p.path" 
        stroke="p.stroke" 
        visible='p.visible'
        geodesic='p.geodesic' 
        fit="false" 
        editable="p.editable" 
        draggable="p.draggable" 
        icons='p.icons'>
      </ui-gmap-polyline>

    </ui-gmap-google-map>

    <div>Back</div>

    <img src="https://cdn0.iconfinder.com/data/icons/app-tab-bar-icons-for-iphone/40/My_location.png">

    <button ng-click="openModal()">hihi</button>

    <script id="intro-modal.html" type="text/ng-template">
      <ion-modal-view class="intro-modal">
        <ion-content scroll="false" class="intro-modal-content">
          <div class="intro-modal-background"></div>
          <img class="intro-modal-image" src="http://i1191.photobucket.com/albums/z480/SLioy/Bloggable/HK/1.jpg">
          <div class="intro-modal-overlay">
            <p class="intro-modal-little-title">Welcome to </p>
            <h1 class="intro-modal-title">HikeHK</h1>
            <div class="intro-modal-message">A place to plan and explore the diverse hiking trails in Hong Kong</div>
            <a class="intro-modal-button" ng-click="closeModal()" href="#/tab/filter"><button class="button button-full button-balanced">Lets Get Started</button></a>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
