<ion-view view-title="Select Region(s)">
  <ion-content class="padding">

    <ul class="list">

      <!-- <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" value="on">
         </label>
         Hong Kong Island
      </li> -->

      <!-- <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" value="on">
         </label>
         Kowloon
      </li> -->

      <ion-checkbox ng-model="isChecked">Kowloon</ion-checkbox>
      <ion-checkbox ng-model="isChecked">Kowloon</ion-checkbox>
      <ion-checkbox ng-model="isChecked">Kowloon</ion-checkbox>

      <!-- <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" value="on">
         </label>
         New Territories
      </li> -->

    </ul>

  </ion-content>
</ion-view>