<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-dark">


  <!-- Dashboard Tab -->
  <ion-tab title="Map" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/map" class="tab-titles">
     Map
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Filter" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/filter" class="tab-titles">
     Filter
    <ion-nav-view name="tab-filter"></ion-nav-view>
  </ion-tab>

</ion-tabs>
