.filter-list {
  border: 2px solid #363636;
  background: #363636;
  color: #e0efef;
  opacity: 0.8;
}

.bar-custom-dark {
  background: #363636;
  color: #e0efef;
}

.tabs-custom-dark > .tabs {
  background: #363636;
  color: #e0efef;
}

.map-wrap {
  /*background: #363636;*/
  padding: 0;
}

.angular-google-map-container { 
  text-align: center;
  z-index: 20;
  height: 84vh;
}

.tab-title {
  font-size: 14px;
}

.filter-region {
  text-align: center;
  font-size: 14px;
}

.regionlist {
  position: relative;
  top: 1px;
  /*z-index: 1000;*/
}

.regionlist > .item {
  display: inline-block;
  padding: 8px 0 8px 20px;
  border: 0;
  font-size: 90%;
}

div.regionlist.row > label {
  background: #363636;
  color: #e0efef;
}

.filter-list > div.item {
  padding: 0;
  margin: 0;
  border: 0;
  background: #363636;
  color: #e0efef;
}

.ng-pristine.ng-untouched.ng-valid {
  margin: 0 10px;
  /*padding: 0;*/
}

.slider-title {
  color: #e0efef;
  text-align: center;
  font-size: 14px;
  background: #363636;
  color: #e0efef;
}

.results-list {
  overflow: scroll;
  height: 55vh;
}

.results-list a {
  color: #363636;
  background: #e0efef;
}

.icon.high {
  font-size: 35px;
}

.resultslink {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.resultslink.button.button-full {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  z-index: 1000;
}

.black {
  background: black;
  height: 55vh;
  width: 100%;
}

.load-image {
  height: 25vh;
  width: 80vw;
  margin: 15vh 0 0 10vw;
}

.trail-imagebox {
  padding: 0;
}

.trail-image {
  height: 25%;
  width: 33%;
  display: inline-block;
  margin: 0 -4px 0 0;
  padding: 0;
}

.item > .info-region {
  padding: 0;
  margin: 0;
}

.item > .info-title {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 9vw;
}

.description {
  overflow: hidden;
  display: block;
}

.truncate-description {
  max-height: 60px;
}

.blockimg-wrap {
  margin: 1px;
  /*background: #444;*/
  /*min-height: 83vh;*/
}

.blockimg {
  height: 25vh;
  width: 48vw;
  margin: 0 0 -3px 4px;
}

.blockimg-birds {
  height: 23vh;
  overflow: hidden;
  margin: 0 0 1px 5px;
}

.description-show {
  font-size: 12px;
}

div > a {
  text-decoration: none;
}

.qualrating {
  font-size: 14px;
}

h2 {
  font-weight: bold;
}

ul > li {
  white-space: normal;
  font-style: italic;
  font-size: 13px;
}

.sliderbox-image {
  width: 100vw;
  height: 50vh;
}

.sliderbox-image-birds {
  width: 100vw;
  max-height: 70vh;
}

