 /* tabs */

.bar-custom-dark {
  background: #363636;
  color: #e0efef;
  /*z-index: 0;*/
}

.bar-custom-dark {
  background: #363636;
  color: #e0efef;
}

.reset-icon {
  position: absolute;
  top: 0;
  z-index: 1000;
  font-size: 30px;
}

.navlink {
  z-index: 10000;
  background: red;
}

.my-location {
  z-index: ;
}

.bar-custom-dark {
  background: #363636;
  color: #e0efef;
}

.tabs-custom-dark > .tabs {
  background: #363636;
  color: #e0efef;
}

.tab-title {
  font-size: 14px;
}

/* map tab */

.reset-icon {
  position: absolute;
  top: 0;
  z-index: 1000;
  font-size: 30px;
}

.resetimg {
  height: 7vh;
  width: 3wm;
}

.map-trail-info {
  height: 10vh;
  width: 25vw;
}

.map-trail-title {
  font-weight: bold;
}

.map-wrap {
  /*background: #363636;*/
  padding: 0;
  margin: 0;
}

/*.mapload-div {
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 9999;
}*/

.mapload-img {
  /*opacity: 0.9;*/
  position: absolute;
  z-index: 10000;
  padding: 28vh 14vh;
  top: 10vh;
  left: 2vh;
  background: #555;
}

.reset-button {
  /*margin:-100px 0 0 0;*/
  position: absolute;
  height: 8vh;
  font-size: 38px;
  color: #8E4D36;
  z-index: 10000;
  top: 2px;
  left: 2px;
}

.angular-google-map-container { 
  text-align: center;
  max-width: none;
  z-index: 20;
  width: 100vw;
  height: calc(100vh - 49px - 44px);
  /*background-size: cover;*/
}

.intro-modal-content {
  /*color: #363636;*/
  color: #e0efef;
  /*opacity: 0.8;*/
}

.intro-modal-background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #363636;
}

.intro-modal-image {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  background: #363636;
}

.intro-modal-overlay {
  position: absolute;
  top: 0;
}

.intro-modal-little-title {
  text-align: center;
  padding: 10vh 0 0 0;
}

.intro-modal-title {
  text-align: center;
  /*padding: 10vh 0 0 0;*/
}

.intro-modal-message {
  padding: 15vh 10vw;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
}

.intro-modal-button {
  text-decoration: none;
}

.intro-modal-button > button.button.button-full {
  /*color: #363636;*/
  color: #e0efef;
}

 /* filter tab */

.filter-list {
  /*border: 2px solid #363636;*/
  /*background: #363636;
  color: #e0efef;*/
  padding: 0;
  margin: 39px 0 0 0;
  position: relative;
  height: 25vh;
  left: -5px;
  width: 100vw;
  background: #e0efef;
  color: #363636;
  z-index: 100px;
  box-shadow: 2px 2px 4px black;
  /*opacity: 0.8;*/
}

.filter-region {
  /*position: fixed;*/
  text-align: center;
  font-size: 14px;
}

.range {
  height: 9vh;
  /*border-top: 1px solid #e0efef;*/
  /*padding: 2px;*/
}

.regionlist {
  position: relative;
  top: 1px;
  /*z-index: 1000;*/
}

.regionlist > .item {
  display: inline-block;
  padding: 8px 0 8px 20px;
  border: 0;
  font-size: 90%;
}

div.regionlist.row > label {
  /*background: #363636;*/
  /*color: #e0efef;*/
  background: #e0efef;
  color: #363636;
}

.filter-list > div.item {
  /*padding: 0;
  margin: 0;*/
  border: 0;
  /*background: #363636;
  color: #e0efef;*/
  background: #e0efef;
  color: #363636;
}

.ng-pristine.ng-untouched.ng-valid {
  margin: 0 10px;
  /*padding: 0;*/
}

.slider-title {
  color: #e0efef;
  text-align: center;
  font-size: 100%;
  /*color: #e0efef;*/
  background: #e0efef;
  color: #363636;
}

.slider-quant {
  color: #e0efef;
  text-align: center;
  font-size: 100%;
  /*background: #363636;
  color: #e0efef;*/
  background: #e0efef;
  color: #363636;
}

.icon.high {
  font-size: 200%;
  margin: 0 0 0 -5px;
}

.results-content {
  /*background: #363636;*/
}

.filler {
  padding: 25vh 0 0 0;
}

.filler a h2 {
  color: white;
}

.filler a h2 p {
  color: #e0efef;
}

.list.results-list {
  /*overflow: scroll;*/
  z-index: -10000;
  /*margin: 24vh 0 0 0;*/
  padding: 0;
  margin: 0;
  /*height: 40vh;*/
  /*background: #e0efef;*/
  color: #e0efef;
}

.list.results-list > div > a >h2 {
  color: white;
}

.list.results-list > div > a > h2 > p {
  color: #e0efef;
}

.results-list a {
  /*color: #363636;
  background: #e0efef;*/
  background: #363636;
  opacity: 0.9;
  color: #e0efef;
}

.loading-background {
  /*background: #e0efef;*/
  margin: 24vh 0 0 0;
  background: #363636;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
}

.load-image {
  height: 18vh;
  width: 30vw;
  /*margin: 20vh 0 0 35vw;*/
  position: absolute;
  top: 50vh;
  left: 20vh;
}

.no-results {
  padding: 50vh 10vw;
  height: 100vh;
  text-align: center;
  font-size: 25px;
  line-height: 180%;
  /*background: #e0efef;
  color: #363636;*/
  background: #363636;
  opacity: 0.9;
  color: #e0efef;
}

/* info tab */

.trail-cards {
  background: #e0efef;
}

.map-link {
  background: #363636;
  padding: 5px;
  color: #e0efef;
}

.list.card {
  background: #e0efef;
}

.list.card > h5 {
  background: #363636;
  opacity: 0.7;
  color: #e0efef;
  margin: 0;
}

.list.card > h5 > a {
  color: rgb(72, 231, 18);
}

.resultslink {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #e0efef;
}

.link-coords {
  position: absolute;
  right : 25px;
}

.resultslink.button.button-full {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  z-index: 1000;
}

.trail-imagebox {
  padding: 0;
}

.trail-image {
  height: 28vh;
  width: 33%;
  display: inline-block;
  margin: 0 -4px 0 0;
  padding: 0;
}

.item > .info-region {
  padding: 0;
  margin: 0;
}

.item > .info-title {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 9vw;
}

.description {
  overflow: hidden;
  display: block;
}

.truncate-description {
  max-height: 60px;
}

.info-weather {
  /*color: red;*/
}

.item > .info-weather-update {
  font-size: 11px;
}

.blockimg-wrap {
  margin: 1px;
  /*background: #444;*/
  /*min-height: 83vh;*/
}

.blockimg {
  height: 25vh;
  width: 48vw;
  margin: 0 0 -3px 4px;
}

.blockimg-birds {
  height: 23vh;
  overflow: hidden;
  margin: 0 0 1px 5px;
}

.description-show {
  font-size: 12px;
}

div > a {
  text-decoration: none;
}

.qualrating {
  font-size: 14px;
}

.f-items-list {
  background: #e0efef;
  height: 100vh;
}

.f-modal {
  background: #e0efef;
}

.f-modal-header {
  background: #e0efef;
}

.f-modal-content {
  background: #e0efef;
}

.f-modal-content .item {
  /*background: #e0efef;*/
}

h2 {
  font-weight: bold;
}

ul > li {
  white-space: normal;
  font-style: italic;
  font-size: 13px;
}

.sliderbox-image {
  width: 100vw;
  height: 50vh;
}

.sliderbox-image-birds {
  width: 100vw;
  max-height: 70vh;
}
